*.iml
.gradle
.settings
.project
.classpath
.vscode
.idea
.kotlin
build
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
Thumbs.db
*.apk
*.ap_
*.dex
*.class
*.log
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
